<html>
<body>
<div ng-app="firstapp" ng-controller="firstCont">
    <table>
        <th>
            <td>username</td>
        </th>
        <tr ng-repeat ="x in names">
            <td>{{x}}</td>
        </tr>
    </table>
</div>
</body>

    <script src="http://localhost:7085/js/angular.min.js"></script>

<script>
var ang= angular.module('firstapp',[]);
    ang.controller('firstCont',function($scope,$http){
        $scope.names=['Ilankumaran','Jayashreee'];

        $http({
            method:'GET',
            URL:'/getUsers',

        }).then(function succ(resp){

        },function errresp(resp){

        });

    });
</script>
</html>